.col {
  background-color: white;
}

.drawContainer {
  position:relative;
  text-align: center;
}

img {
  width: 500px;
  height: 375px;
  z-index:0;
}

.drawObj {
  z-index:100;
  position:absolute;
  width: 500px;
  height: 375px;
}

#chat_slide {
  padding-left:10px;
}

.message_entry {
  padding-left:10px;
}

.questions_container {
  padding-left:10px;
}

.inc {
  cursor: pointer;
}

.done {
  cursor: pointer;
}

//Editor right
.docListItem {
  list-style-type: none
}

.active {
  color: blue
}
