<template name="editor_right">
  <h4>Slide Notes</h4>
  {{#each notes}}
    {{> one_note}}
  {{/each}}
</template>

<template name="one_note">
    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{this._id}}">
            {{this.createdBy}}
          </a>
        </div>
        <div id="collapse{{this._id}}" class="accordion-body collapse in" >
          <div class="accordion-inner">
            <!-- {{Meteor.userId() === }} -->
            {{#if owns_doc}}
            {{> aceEditor}}
            {{else}}
            {{this.textNote}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>  
</template>

<template name="aceEditor">
	<!-- for each person on doc -->
	<!-- show name, icon, dropdown for language choice -->
	<!-- <div id='aceEditor{{this._id}}' class='aceEditor' data-id='{{this._id}}'> -->
  <div id='aceEditor' class='aceEditor' data-id='{{this._id}}'>
		<!-- add saved text -->
    {{this.textNote}}
	</div>
</template>
