<template name="editor_right">
  <h4>right hand editor</h4>
  {{#each notes}}
    {{> one_note}}
  {{/each}}
</template>

<template name="one_note">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{this._id}}">
            {{this.createdBy}}
          </div>
        </div>
        <div id="#{{this._id}}" class="accordion-body collapse in">
          <div class="accordion-inner">
            {{this.textNote}}
          </div>
        </div>
      </div>
    </div>  
</template>
